{% extends "base.html" %}
{% block content %}
    <div class="container" id="container-gen">
        <form class="text-center" method="post" id="delete-form">
            {% csrf_token %}
            <h3>Are you sure that you want to delete the journalist "{{ object }}"?:</h3>
            <input type="submit" value="Confirm"  class="btn btn-danger">
            <a href="{% url 'news_service:journalists_list' %}"
               class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %}
