.navbar-container {
  position: fixed;
  width: 100%;
  color: rgb(231, 232, 234);
  z-index: 1000;
}

#navbar {
  background: rgb(33, 37, 41);
  border-color: var(--bs-navbar-disabled-color);
}

#navcol-3 {
  background: #212529;
}

#navbar-element-group {
  background: var(--bs-body-color);
  color: var(--bs-body-bg);
}

.nav-item {
  color: rgb(224, 224, 224);
}

#navbar-button {
  color: rgb(218, 216, 216);
  font-weight: bold;
}

#search-area {
  padding-top: 5px;
  padding-left: 7px;
}

#login-button {
  background: rgb(113, 113, 113);
  border-style: none;
}

#content-div {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-container {
  height: 200px;
}

#footer-area {
  position: relative;
  height: 100%;
}

/* #search-text {
  color: rgb(239, 239, 239);
} */

.class-group {
  background-color: aliceblue;
}

#news-container{
  margin-bottom: 5%;
}

#side-card{
  width: 18rem;
  margin-bottom: 5%;
}

#side-title{
  color: rgb(218, 216, 216);
  font-weight: bold;
  font-size: 1rem;
  background-color: #212529;
}

#welcome{
  color: rgb(218, 216, 216);
  font-weight: bold;
  font-size: 1rem;
}