.navbar-container {
  position: fixed;
  width: 100%;
  color: rgb(231, 232, 234);
  z-index: 1000;
}

#navbar {
  background: rgb(33, 37, 41);
  border-color: var(--bs-navbar-disabled-color);
}

#navcol-3 {
  background: #212529;
}

#navbar-element-group {
  background: var(--bs-body-color);
  color: var(--bs-body-bg);
}

.nav-item {
  color: rgb(224, 224, 224);
}

#navbar-button {
  color: rgb(218, 216, 216);
  font-weight: bold;
}

#search-area {
  padding-top: 5px;
  padding-left: 7px;
}

.custom-search-input {
  color: rgb(239, 239, 239);
}

#login-button {
  background: rgb(113, 113, 113);
  border-style: none;
}

#content-div {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-container {
  height: 200px;
}

#footer-area {
  position: relative;
  height: 100%;
}

.class-group {
  background-color: aliceblue;
}

#news-container {
  margin-bottom: 5%;
}

#side-card {
  width: 18rem;
  margin-bottom: 5%;
}

#side-title {
  color: rgb(218, 216, 216);
  font-weight: bold;
  font-size: 1rem;
  background-color: #212529;
}

#welcome {
  color: rgb(218, 216, 216);
  font-weight: bold;
  font-size: 1rem;
  margin-top: 15px;
  margin-right: 15px;
}

.justify-content-center {
  justify-content: center !important;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
}

#profile-button {
  background-color: #212529;
  border-color: #212529;
}

#login-container {
  margin-top: 100px;
}

#login-circle {
  background-color: #212529;
}

#login-button2 {
  background-color: #212529;
  border-color: #212529;
}

#card-title {
  text-decoration: none;
  color: #212529;
}

#news-create-container {
  margin-top: 120px;
}

#container-gen {
  padding-top: 110px;
  margin-bottom: 10px;
}

#title-container {
  background-color: #c3c2c2;
  padding: 10px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
}

@media (min-width: 992px) {
  .py-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
  .px-lg-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

#journalist-card {
  margin-bottom: 10px;
  border-width: 1px;
  border-color: #212529;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
}
