{% extends "base.html" %}
{% block content %}
    <div class="container" id="container-gen">
        <div class="container" id="title-container">
            <h3>Journalist List</h3>
            {% if user.journalist.is_chief %}
                <p>
                    <a class="btn btn-primary"
                       type="button"
                       href="{% url "accounts:signup" %}">Add Journalist</a>
                </p>
            {% endif %}
        </div>
        <div class="row gy-4 row-col-1 row-cols-md-2">
            {% for journalist in journalist_list %}
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row" id="journalist-card">
                        <div class="w-50">
                            <img class="rounded img-fluid d-block w-100 fit-cover"
                                 src="{{ journalist.photo.url }}"
                                 width="70%"
                                 height="100%"
                                 alt="">
                        </div>
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>
                                <a id="card-title">{{ journalist.user.first_name }} {{ journalist.user.last_name }}</a>
                            </h4>
                            <p class="card-text">{{ journalist.description }}</p>
                            {% if user.journalist.is_chief %}<a class="btn btn-danger" type="button" href="">Remove</a>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
