{% extends "base_with_sidebar.html" %}
{% block title %}
    {{ post.slug }}
{% endblock title %}
{% block main_content %}
    <div class="container" id="news_header">
        <img src="{{ post.image.url }}" width="100%" height="100%" alt="">
        <h3>{{ post.title }}</h3>
        <p>Published on: {{ post.publish_date|date:"D M Y" }}</p>
    </div>
    <div class="container" id="news_content">
        <p>{{ post.content }}</p>
    </div>
    <div class="container" id="about_author">
        <div class="row" id="journalist-info">
            <div class="col-md-4">
                <img class="img-circle profile-pic"
                     src="{{ post.main_author.photo.url }}"
                     alt=""
                     width="100%"
                     height="100%"
                     id="journalist-photo-detail">
                <p>Author: {{ post.main_author.user.first_name }} {{ post.main_author.user.last_name }}</p>
            </div>
            <div class="col-md-8">
                <p>{{ post.main_author.description }}</p>
            </div>
        </div>
    </div>
    <div>
        {% if user_belongs_to_chief %}
            {% if approve %}
                <form method="post" action="{% url 'news_service:hide_post' post.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Remove</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'news_service:approve_post' post.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit">Approve</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <div class="container" id="title-container">
            <h4>Comments</h4>
        </div>
        <div>
            <a class="btn btn-success"
               href="{% url "news_service:create_comment" %}">Add Comment</a>
        </div>
        {% for comment in comment_list %}
            <div class="container" id="comment-cage">
                <p>
                    <strong>{{ comment.author }}</strong>
                </p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}
{% comment %} Sidebar {% endcomment %}
{% block sidebar %}
    <div class="container" id="sidebar-container">{% include "news_service/sidebar.html" %}</div>
{% endblock sidebar %}
